.Charts {
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  max-height: 100vh;
}

.ChartContainer {
  width: 50%;
  height: 33vh;
  overflow-x: scroll;
  overflow-y: scroll;
}

.ChartItem {
  position: relative;
  margin-left: 10px;
  width: 100vw;
  height: 30vh;
}

.FullPageChart{
  position: relative;
  margin: 10px;
  width: 70vw;
  height: 70vh;
}
